﻿<!--
    File Name: generator.html - html partial for generator.controller.ts
    Coder: Lexi Shaughnessy
    Student Number: 0658874
    Date: October 23, 2015
-->
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <form name="generatorForm" novalidate>
        <div class="container">
            <div class="text-center">
                <h3 class="main-title">Generator</h3>
                <img src="../../img/Logo_large.png" class="company-logo-gen" />
            </div><!--end class center-->
            <div class="generator-body xsmall">
                <div class="panel">
                    <div class="panel-black-heading text-center">
                        Choose Vendor, Product, and Quantity
                    </div><!--end panel-black-heading-->
                    <div class="panel-body xsmall">
                        <div class="col-xs-4 col-lg-6 text-left">Vendor: </div>
                        <div class="col-xs-8 col-lg-6 text-right">
                            <select name="vendor" required ng-model="generator.vendor" ng-options="v as v.name for v in generator.vendors" ng-change="generator.LoadProductsFromVendor()"></select>
                        </div>
                        <div ng-messages="generatorForm.vendor.$error">
                            <div ng-message="required" class="col-xs-12 custom-error">choose vendor</div>
                        </div><!--vendor validation-->

                        <div class="col-xs-4 col-lg-6 text-left" ng-show="generator.vendor">Product:</div>
                        <div class="col-xs-8 col-lg-6 text-right">
                            <select name="product" 
                                    required ng-model="generator.item.productname" 
                                    ng-options="p.productname as p.productname for p in generator.products"
                                    ng-show="generator.vendor"></select>
                        </div>
                        <div ng-messages="generatorForm.product.$error" ng-show="generator.vendor">
                            <div ng-message="required" class="col-xs-12 custom-error">choose a product</div>
                        </div><!--productcode validation-->

                        <div class="top10pad" ng-show="generator.item.productname">
                            <div class="col-xs-2 col-lg-2 text-left xsmall">Qty:</div>
                            <div class="col-xs-2 col-lg-1 text-left">
                                <select class="input-small" ng-model="generator.item.qty" id="qty">
                                    <option value="EOQ">EOQ</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div><!--end dropdown-->
                            <div class="col-xs-3" style="position: relative; bottom: 8px;">
                                <button class="btn btn-xsmall btn-default add-item" ng-click="generator.addItem()">Add</button>
                            </div>
                        </div><!--end qty-->
                    </div><!--end panel-body-->
                    <!--display table of order-->
                    <div class="panel-body xsmall" style="text-align: center; background-color: #222; color: #fff;" ng-show="generator.items.length > 0">
                        <div class="col-xs-4">Product</div>
                        <div class="col-xs-4">Quantity</div>
                        <div class="col-xs-4">Extended</div>
                    </div>
                <div class="panel-body xsmall" ng-repeat="g in generator.items">
                    <div class="col-xs-4 text-center">{{g.productname}}</div>
                    <div class="col-xs-4 text-center">{{g.qty}}</div>
                    <div class="col-xs-4 text-center">{{g.ext | currency: '$'}}</div>
                </div>
                <!--total-->
                <div class="xsmall" ng-show="generator.items.length > 0">
                    <div class="text-right rowBlack">Subtotal: {{generator.subTotal | currency: '$'}}</div>
                    <div class="text-right rowWhite">Tax: {{generator.tax | currency: '$'}}</div>
                    <div class="text-right rowBlack"><b>Total: {{generator.total | currency: '$'}}</b></div>

                    <button class="btn btn-xsmall btn-default add-po" ng-click="generator.createPO()">Add PO</button>
                    <div><img src="../../img/Logo_large.png" class="company-logo-generator" /></div>
                </div>
                    <button class="btn btn-xsmall btn-default add-pdf" ng-show="generator.generated" ng-click="generator.viewPDF()">PDF</button>
                </div><!--end panel-->
                <div class="col-sm-6 col-xs-8 text-center label label-default-generator">
                    {{generator.status}}
                </div>
            </div><!--end modal-body-->
        </div><!--end container-->
    </form>
</body>
</html>