﻿<!--
    File Name: product.html - html partial for product.controller.ts
    Coder: Lexi Shaughnessy
    Student Number: 0658874
    Date: October 23, 2015
-->
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h3 class="main-title">Products</h3>
            <img src="../../img/Logo_large.png" class="company-logo" />
        </div><!--end class center-->
        <div class="text-center col-lg-12 col-sm-12 col-xs-12 panel panel-heading">
            <div class="col-lg-1 col-sm-1 col-xs-1" ng-click="predicate = 'productcode';reverse = !reverse;product.findSelected(predicate,reverse);">Code</div>
            <div class="col-sm-2 col-xs-4 text-right" ng-click="predicate = 'productname';reverse = !reverse;product.findSelected(predicate,reverse);">Name</div>
            <div class="col-lg-5 col-sm-4 col-xs-4" >Vendor</div>
            <div class="col-lg-1 col-sm-4 col-xs-2 text-right">MSRP</div>
        </div><!--end text-center-->
        <div style="position: relative; margin-top: -20px;" id="list">
            <div class="change-product col-xs-12" ng-click="product.selectRow(-1, null)"><span><b>Click</b> to add, else click on desired product</span></div><!--change-product-->
            <div class="col-lg-12 col-sm-12 col-xs-12" ng-repeat="prod in product.products" ng-class="{rowWhite: $odd, rowBlack: $even, ItemSelected: $index === product.selectedRow}" ng-click="product.selectRow($index, prod)">
                <div class="col-xs-2 text-left">{{prod.productcode}}</div>
                <div class="col-sm-2 col-xs-2 text-left">{{prod.productname}}</div>
                <div class="col-xs-5 col-lg-3 text-center">{{prod.vendorno}}</div>
                <div class="col-xs-2 text-right">{{prod.msrp | currency: '$'}}</div>
            </div>
            <div class="col-sm-3 col-xs-2">&nbsp;</div>
            <div class="col-sm-6 col-xs-8 text-center label label-default">
                {{product.status}}
            </div>
        </div><!--end list-->
    </div><!--end container-->
</body>
</html>
