﻿<!--
    File Name: productModal.html - html partial for product.controller.ts
    Coder: Lexi Shaughnessy
    Student Number: 0658874
    Date: October 23, 2015
-->
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <form name="productForm" novalidate>
        <div class="modal-header text-center">
            <button type="button" class="close" ng-click="ctrlr.cancel()">&times;</button>
            <h4 class="modal-title">{{ctrlr.modalTitle}}</h4>
        </div><!--end modal-header-->
        <div class="modal-body xsmall">
            <div class="panel">
                <div class="panel-black-heading" toggle target="collapse{{$index + 1}}">
                    Product Information
                    <button type="button" class="pull-right panel-black" ng-click="isTopCollapsed = !isTopCollapsed;">
                        <span ng-show="isTopCollapsed" class="glyphicon glyphicon-chevron-right"></span>
                        <span ng-show="!isTopCollapsed" class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </div><!--end panel-black-heading-->
                <div class="panel-body xsmall" ng-class="{true: 'collapse'}[isTopCollapsed]">
                
                    <div class="col-xs-4 col-lg-6 text-left">Vendor: </div>
                    <div class="col-xs-8 col-lg-6 text-left">
                        <select name="vendorno" required ng-model="ctrlr.product.vendorno" ng-options="v.vendorno as v.name for v in ctrlr.vendors"></select>
                    </div>
                    <div ng-messages="productForm.vendorno.$error">
                        <div ng-message="required" class="col-xs-12 custom-error">choose vendor name</div>
                    </div><!--vendor validation-->    

                    <div class="col-xs-4 col-lg-6 text-left">Code: </div>
                    <div class="col-xs-8 col-lg-6 text-left">
                        <input required type="text" ng-model="ctrlr.product.productcode" ng-disabled="{{ctrlr.product != null}}" name="productcode"/>
                    </div><!--product code-->
                    <div ng-messages="productForm.productcode.$error">
                        <div ng-message="required" class="col-xs-12 custom-error">choose product code</div>
                    </div><!--product code validation validation-->   

                    <div class="col-xs-4 col-lg-6 text-left">SKU: </div>
                    <div class="col-xs-8 col-lg-6 text-left">
                        <input required type="text" ng-model="ctrlr.product.vendorsku" name="vendorsku" />
                    </div>
                    <div ng-messages="productForm.vendorsku.$error">
                        <div ng-message="required" class="col-xs-12 custom-error">Vendor SKU is required</div>
                    </div><!--vendor SKU validation-->

                    <div class="col-xs-4 col-lg-6 text-left">Name: </div>
                    <div class="col-xs-8 col-lg-6 text-left">
                        <input required type="text" ng-model="ctrlr.product.productname" name="productname" />
                    </div>
                    <div ng-messages="productForm.productname.$error">
                        <div ng-message="required" class="col-xs-12 custom-error">Product Name is required</div>
                    </div><!--product name validation-->

                    <div class="col-xs-4 col-lg-6 text-left">Cost: </div>
                    <div class="col-xs-8 col-lg-6 text-left">
                        <input required type="text" class="text-right" ng-model="ctrlr.product.costprice" name="costprice" />
                    </div>
                    <div ng-messages="productForm.costprice.$error">
                        <div ng-message="required" class="col-xs-12 custom-error">Cost Price is required</div>
                    </div><!--Product Cost validation-->

                    <div class="col-xs-4 col-lg-6 text-left">MSRP: </div>
                    <div class="col-xs-8 col-lg-6 text-left">
                        <input required type="text" class="text-right" ng-model="ctrlr.product.msrp" name="productmsrp" />
                    </div>
                    <div ng-messages="productForm.productmsrp.$error">
                        <div ng-message="required" class="col-xs-12 custom-error">MSRP is required</div>
                    </div><!--MSRP validation-->

                </div><!--end panel-body-->
            </div><!--end panel-->
        </div><!--end modal-body-->

        <div class="modal-body xsmall">
            <div class="panel">
                <div class="panel-black-heading">
                    Inventory Information
                    <button type="button" class="panel-black pull-right" ng-click="isCollapsed = !isCollapsed;">
                        <span ng-show="isCollapsed" class="glyphicon glyphicon-chevron-right"></span>
                        <span ng-show="!isCollapsed" class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </div><!--end panel-black-heading-->
                <div class="panel-body xsmall" ng-class="{true: 'collapse'}[isCollapsed]">

                    <div class="col-xs-3 col-lg-6 text-left">ROP: </div>
                    <div class="col-xs-8 col-lg-6 text-left">
                        <input required type="text" class="text-right" ng-model="ctrlr.product.rop" name="productrop" />
                    </div>
                    <div ng-messages="productForm.productrop.$error">
                        <div ng-message="required" class="col-xs-12 custom-error">ROP is required</div>
                    </div><!--ROP validation-->

                    <div class="col-xs-3 col-lg-6 text-left">EOQ: </div>
                    <div class="col-xs-8 col-lg-6 text-left">
                        <input required type="text" class="text-right" ng-model="ctrlr.product.eoq" name="producteoq" />
                    </div>
                    <div ng-messages="productForm.producteoq.$error">
                        <div ng-message="required" class="col-xs-12 custom-error">EOQ is required</div>
                    </div><!--EOQ validation-->

                    <div class="col-xs-3 col-lg-6 text-left">QOH: </div>
                    <div class="col-xs-8 col-lg-6 text-left">
                        <input required type="text" class="text-right" ng-model="ctrlr.product.qoh" name="productqoh" />
                    </div>
                    <div ng-messages="productForm.productqoh.$error">
                        <div ng-message="required" class="col-xs-12 custom-error">QOH is required</div>
                    </div><!--QOH validation-->

                    <div class="col-xs-3 col-lg-6 text-left">QOO: </div>
                    <div class="col-xs-8 col-lg-6 text-left">
                        <input required type="text" class="text-right" ng-model="ctrlr.product.qoo" name="vendorqoo" />
                    </div>
                    <div ng-messages="productForm.vendorqoo.$error">
                        <div ng-message="required" class="col-xs-12 custom-error">QOO is required</div>
                    </div><!--QOO validation-->
                </div><!--end panel-body-->
            </div><!--end panel-->

            <div class="modal-footer top10pad">
                <img class="company-logo" style="float: left;" src="../../img/Logo_large.png" />
                <button type="button" class="btn panel-black" ng-click="(ctrlr.todo === 'add') ? ctrlr.add() : ctrlr.update()" ng-disabled="employeeForm.$invalid">
                    {{ctrlr.todo}}
                </button>
                <span ng-hide="ctrlr.todo === 'add'">
                    <button type="button" class="btn panel-black" ng-click="ctrlr.delete()" confirm-click>delete</button>
                </span>
                <button type="button" class="btn panel-black" ng-click="ctrlr.cancel()">cancel</button>
            </div><!--end modal-footer-->
        </div><!--end modal-body-->
    </form>
</body>
</html>
