﻿/*
    File Name: CSS File for styling
    Coder: Lexi Shaughnessy
    Student Number: 0658874
    Date: October 23, 2015
*/
body {
    -webkit-font-smoothing: antialiased;
    /*background-color: #ef4723;*/
    background-color: #fff;
    letter-spacing: 1px;
    font-family: 'Open Sans';
    font-size: 12px;
}
.home-title {
    font: 800 64px 'Open Sans';
    text-transform: uppercase;
}
.homepage {
    background-image: url('../img/Superman.png');
    overflow: hidden;
    background-repeat: no-repeat;
    height: 100%;
}
.homepage-icon {
    width: 50px;
    height: auto;
}
.rowWhite {
    padding: 5px;
    font-weight: 700;
}
.rowBlack {
    padding: 5px;
    background-color: #222;
    color: #fff;
    font-weight: 700;
}
.panel-black {
    background-color: black;
    color: white;
}
.ItemSelected {
    font-weight: 700; 
    color: #222;
    background-color: #ef4723;
    cursor: pointer;
}
.custom-error {
    font-size: 12px;
    font-weight:700;
    color: red;
    text-align: left;
}
.change-vendor,
.change-product {
    cursor: pointer;
    font: 400 25px 'Gentium Book Basic';
    font-style: italic;
    margin: 20px 0 20px 0;
    text-align: center;
    border-top: 1px solid #222;
    color: #222;
}
.homepage-slice {
    text-align: center;
    cursor: pointer;
    font: 400 25px 'Gentium Book Basic';
    font-style: italic;
    margin: 20px 0 20px 0;
    text-align: center;
    color: #222;
}
.change-vendor span,
.change-product span {
    padding: 0 20px;
    position: relative;
    top: -10px;
    background-color: #fff;
}
.company-logo {
    width: 50px;
    height: auto;
}
.company-logo-generator {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50px;
    height: auto;
    margin-top: 10px;
}
.company-logo-gen {
    padding-bottom: 10px;
    width: 50px;
    height: auto;
}
.vendor-panel {
    background-color: #fc5302 !important;
    top: 0px !important;
    color: #222;
    font-weight: 700;
    letter-spacing: 1px;
}
.main-title {
    font: 800 64px 'Open Sans';
    text-transform: uppercase;
    color: #222;
}
.panel {
    -webkit-box-shadow: none;
}
.label-default {
    position: relative; 
    background-color: #222;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Gentium Book Basic';
    font-style: italic;
    padding: 5px;
    width: 100%;
}
.label-default-generator {
    bottom: 0%;
    position: relative; 
    background-color: #222;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Gentium Book Basic';
    font-style: italic;
    padding: 5px;
    width: 100%;
}
.navbar-inverse .navbar-collapse {
    background-color: #222 !important;
}
.snap-content {
    background-color: #fff;
    border-left: 1px solid #ccc;
}
.panel-heading {
    position: relative; 
    top: 20px; 
    font-weight: 700; 
    background-color: transparent;
}
.panel-black-heading {
    background-color: #222;
    color: white;
    padding: 15px;
}
.modal-title {
    padding: 15px;
    font-weight: 700;
}
.generator-body {
    margin: 0 auto;
    max-width: 568px;
}
.add-po,
.add-pdf {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
}
.add-item {
    float: right;
}
/* MEDIA QUERIES */
@media (max-width: 500px) {
    .main-title {
        font-size: 50px;
    }
    .add-item {
        float: none;
    }
    .homepage {
        background-image: url('../img/superman_small.png');
        background-size: contain;
        background-position-y: 70%;
    }
}
@media (max-width: 330px) {
    .main-title {
        font-size: 40px;
    }
}