﻿<!--
    File Name: home.html - html partial for home.controller.ts
    Coder: Lexi Shaughnessy
    Student Number: 0658874
    Date: October 23, 2015
-->
<div>
    <div class="text-center homepage" ng-controller="HomeController as home">
        <br />
        <br />
        <h1 class="home-title">{{home.label}}</h1>
        <div class="homepage-slice">
               Fly in on our Super Savings!
        </div><!--homepage slice-->
        <img class="company-logo" src="img/Logo_large.png" />
    </div>
</div>